<section class="hero">
  <div class="left-side">
    <h2>Hi, I'm Jhosno 👾</h2>
    <h3>JS | TS | PHP | JAVA</h3>
    <div class="rrss">
      <a class="hero-link" target="_blank" href="https://www.linkedin.com/in/jhosno/">LinkedIn</a>
      <a class="hero-link" target="_blank" href="https://github.com/jhosnodev">Github</a>
      <a class="hero-link" target="_blank" href="mailto:jhosno.dev@gmail.com">Mail</a>
    </div>
  </div>
  <div class="right-side">
    <img src="/assets/images/Cute Avatar.png" alt="" />
  </div>
</section>
